[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdftk = "0.4"
googlemaps = "4.4.2"
twilio = "6.52.0"
requests = "2.25.1"
Flask = "1.1.2"
PyPDF2 = "1.26.0"
PyJWT = "1.7.1"
python-docx = "0.8.10"
markdown = "*"
docx2pdf = "*"

[dev-packages]

[requires]
python_version = "3.9"
