main {
  padding-top: 3vh;
  text-align: center;
}

h1, h2, h3, h4, h5, h6, li, a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

label span p footer {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

label {
  text-align: left;
  width: 100%;
  padding-left: 0.5rem;
}

#homepage-image {
  max-width: 70%;
  margin: auto;
}

#homepage-container {
  width: 70vw;
}

form {
  width: 70%;
  margin: auto;
}

.main-heading {
  color: #F1F1F2;
  font-size: 5vh;
  font-family: 'Montserrat', sans-serif;

}

footer {
  position: fixed;
  bottom: 30px;
  text-align: center;
  left: 50%;
  margin-left: -100px;
  width: 200px;
}

padding-left: 20px;
position: absolute;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
