main {
  padding-top: 3vh;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6, nav, a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

form {
  max-width: 70vw;
}

label {
  text-align: left;
  width: 100%;
  padding-left: 0.5rem;
}

nav {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.contract-input {
  height: 4rem !important;
  font-size: 18px !important;
  padding-bottom: .3rem !important;
}

.function-btn {
  background-color: rgb(33, 37, 41) !important;
}

.form-btn {
  height: 64px !important;
  font-weight: bold;
}

.quantity {
  text-overflow: ellipsis;
  overflow: hidden;
}

.navbar-right {
  margin-left: auto;
}

footer {
  position: fixed;
  bottom: 30px;
  text-align: center;
  left: 50%;
  margin-left: -100px;
  width: 200px;
}
