{% extends 'layout.html' %}

{% block title %} Contracts {% endblock %}

{% block body %}
<h1 class="mx-auto">Deliveries</h1>
<p class="mx-auto">Please use this tool to record client details for deliveries.</p>

<form class="mx-auto" onsubmit="if (flag) {event.preventDefault(); flag=false;};" action="/deliveries" method="post">
  <div class="row g-3 mb-3">
    <div class="col-md-4 col-12 form-floating">
      <button type="submit" class="btn form-btn btn-success block p-x-4 col-12" name="send">Send details to:<input autocomplete="off" autofocus type="text" placeholder="Number" class="form-control d-auto" id="number" name="number" value=""></button>
    </div>
    <div class="col-md-4 col-12">
      <button type="submit" class="btn form-btn btn-dark function-btn block px-4 col-12" name="download">Download details</button>
    </div>
    <div class="col-md-4 col-12">
      <button type="submit" class="btn form-btn btn-danger block px-4 col-12" name="clear">Clear details</button>
    </div>
  </div>
</form>
<div class="success-wrapper d-none">
  <div class="alert alert-secondary alert-dismissable fade show" role="alert">
    User found and stored for printing.
  </div>
</div>

<style>
  #deliveries {
    color: rgba(255,255,255,0.9);
  }
</style>

<script type="text/javascript">
  $(function() {
    flag = false;
    $('#number').keypress(function (event) {
      var code = event.keyCode || event.which;
      if (code == 32) {
        flag = true;
      }
    })
  message = "{{message}}";
  if (message) {
    $(".success-wrapper").children().text(message);
    $(".success-wrapper").before($(".success-wrapper").html());
    setTimeout(function () {
      $(".success-wrapper").prev().alert('close');
    }, 3000);
  }
});
</script>

{% endblock %}
