{% extends 'layout.html' %}

{% block title %} Contracts {% endblock %}

{% block body %}
<h1 class="mx-auto">Deliveries</h1>
<p class="mx-auto">Please use this tool to record client details for deliveries.</p>

<form class="mx-auto" action="/deliveries" method="post">
  <div class="row g-3 mb-3 options-row">
    <div class="col-6">
      <button type="submit" class="btn form-btn btn-success block px-4 col-12" name="download">Download details</button>
    </div>
    <div class="col-6">
      <button type="submit" class="btn form-btn btn-danger block px-4 col-12" name="clear">Clear details</button>
    </div>
  </div>
</form>

<style>
  #deliveries {
    color: rgba(255,255,255,.7);
  }
</style>

{% endblock %}
