{% extends 'layout.html' %}

{% block title %} CPApp {% endblock %}

{% block body %}
<div class="container justify-content-center mx-auto mw-70" id="homepage-container">
    <h1 class="mx-auto"> Welcome to CPApp!</h1>
    <br>
    <p class="mx-auto"> Our mission is to streamline CPAP office work for faster, more productive healthcare solutions. </p>
    <p class="mx-auto"> Please navigate to your desired task to get started!</p>
</div>

<footer>
  &copy Lewis Luck, 2020
</footer>

{% endblock %}
