{% extends 'layout.html' %}

{% block title %} CPAP Contracts {% endblock %}

{% block body %}
<div class="container justify-content-center" id="homepage-container">
    <h1 class="mx-auto"> Welcome to CPApp!</h1>
</div>
<form class="" action="/" method="post">
  <div class="form-group">
    <label>Please enter the name of your client:</label>
    <i class="fas fa-search" aria-hidden="true"></i>
    <input autocomplete="off" autofocus type="text" class="form-control" name="search" value="" required>
  </div>
</form>
{% endblock %}
