<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/detail.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:900|Work+Sans:300">

    <link rel="icon" href="../static/icons/sleep_icon_dark_64.png">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/css/custom-theme/jquery-ui-1.10.0.custom.css" rel="stylesheet"/>

    </script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
          <ul class="navbar-nav nav">
              <li class="nav-item">
                  <a class="nav-link" id="contracts" href="/contracts">Contracts</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="products" href="/products">Products</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="deliveries" href="/deliveries">Deliveries</a>
              </li>
          </ul>
      </div>
      <div class="mx-auto order-0">
          <a href="/"><img src="../static/icons/sleep_icon_512.png" height="80" class="d-inline-block" style="margin-right: 12px"></a>
          <a class="navbar-brand mx-auto" href="/">CPApp</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav navbar-right">
              <li class="nav-item">
                  <a class="nav-link" href="/help">Help</a>
              </li>
          </ul>
      </div>
    </nav>
    <main>
      <div class="container-fluid" id="body-container">
        {% block body %}
        {% endblock %}
      </div>
    </main>
  </body>
</html>
